<div class="w3-card-4 w3-padding-large w3-light-gray w3-rightbar w3-leftbar w3-border-blue w3-round-large w3-hide" style="width: 33%; position: fixed" id="domainDetail" onclick="showDomainDetail(event, this)">
    <img src="/static/close-icon.svg" class="w3-display-topright closer" width="20px">
    <div class="w3-cell-row w3-container w3-border-bottom w3-border-green">
        <header class="w3-cell w3-center w3-container">
            <h3 class="w3-xxlarge" id="domain"></h3>
        </header>
    </div>
    <div class="w3-cell-row w3-left-align">
        <div class="w3-cell w3-container">
            <div class="w3-container">
                <img src="/static/hard-disk-svgrepo-com.svg" height="30px">
                <div class="w3-hide" id="diskDetail">disk details</div>
            </div>
        </div>
        <div class="w3-cell w3-container">
            <div class="w3-container">
                <img src="/static/network-svgrepo-com.svg" height="30px">
                <div class="w3-hide" id="networkDetail">network detail</div>
            </div>
        </div>
        <div class="w3-cell w3-container">
            <div class="w3-container">
                <img src="/static/chip-cpu-svgrepo-com.svg" height="30px">
                <div class="w3-hide" id="CPUDetail">CPU detail</div>
            </div>
        </div>
        <div class="w3-cell w3-container">
            <div class="w3-container">
                <img src="/static/ram-memory-svgrepo-com.svg" height="30px">
                <div class="w3-hide" id="memoryDetail">Memory detail</div>
            </div>
        </div>
        <div class="w3-cell w3-container">
            <div class="w3-container">
                <img src="/static/investment-svgrepo-com.svg" height="30px">
                <div class="w3-hide" id="accountingDetail">Accounting detail</div>
            </div>
        </div>
    </div>
</div>