<header>
<h2 class="w3-dark-gray w3-center w3-round w3-section">
    <img src="/static/Anarchist_black_cat.svg" height="75em" class="w3-section w3-margin-right" />
    <span class="w3-tag w3-jumbo w3-red">K</span>itties &amp; <span class="w3-tag w3-jumbo w3-black">V</span>irtual <span class="w3-tag w3-jumbo w3-red">M</span>achines
    <img src="/static/Anarchist_black_cat-right.svg" height="75em" class="w3-section w3-margin-left" />
</h2>
</header>