<div class="w3-card-4 w3-padding-large w3-light-gray w3-rightbar w3-leftbar w3-border-blue w3-round-large w3-hide" style="width: 33%; position: fixed" id="hypervisorDetail">
    <img src="/static/close-icon.svg" class="w3-display-topright" width="20px">
    <div class="w3-cell-row w3-container w3-border-bottom w3-border-green">
        <header class="w3-cell w3-center">
            <h3 class="w3-xxlarge" id="hyperHostname"></h3>
        </header>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%" >Nr. of Domains:</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperNumDomains"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Total Memory (MB)</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperTotalMem"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Allocated Memory (MB)</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="AllocatedMem"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Active CPUs</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperActiveCPUs"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Allocated CPUs</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="AllocatedCPU"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Current Frequency</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperFreq"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Nr. NUMA Nodes</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperNUMAnodes"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Sockets per Node</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperSockPerNode"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Cores per Socket</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperCoresPerSock"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Threads per Core</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperThreadPerCore"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Currently Active Domains</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperActiveDomains"></div>
    </div>
    <div class="w3-cell-row">
        <div class="w3-cell w3-right-align" style="width:55%">Inactive Domains</div>
        <div class="w3-cell w3-right-align" style="width:45%" id="hyperDefinedDomains"></div>
    </div>
</div>