<!DOCTYPE html>
<html>
    <link rel="icon" type="image/svg" href="/static/blackcat.svg">
<head>
<title>Flask Virtual Machine Monitor</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
</head>
<body>
{% include 'header.jinja2' with context %}
<div class="w3-cell-row">
    <div class="w3-cell"></div>
    <div class="w3-cell" style="width: 70%">
        {% include 'vm-table-list.jinja2' with context %}
    </div>
    <div class="w3-cell"></div>
</div>
{% include 'footer.jinja2' with context %}
{% include 'hypervisorDetail.jinja2' with context %}
{% include 'domain-detail.html.jinja2' with context %}
<script>
    {% include 'hypervisor-details.js.jinja2' with context %}
</script>
</body>
</html>
