<table style="margin:0px; padding:0px;">
    <tbody>
    {% for iface, v in net.items() %}<tr style="margin:0px; padding:0px;">
        <td style="padding-left: 0px; padding-top: 0px; padding-right: 16px;">{{iface}}</td>
        <td style="padding-top: 0px; padding-right: 16px;">{{v.hwaddr}}</td>
        <td style="padding-top: 0px; padding-right: 16px;">{% for a in v['addrs'] %}{{a['addr']}}{% if v['addrs'].__len__() is gt 1 %}&nbsp;{% endif %}{% endfor %}</td>
    </tr>{% endfor %}
    </tbody>
</table>