<table class="w3-table w3-bordered w3-card-4" style="td:first-child padding-left: 0px; margin-left: auto; margin-right: auto">
    <thead>
        <tr class="w3-pale-blue">
				<th>hypervisor</th><th>status</th><th>name</th><th>network</th><th>state</th><th>CPUs</th><th>Mem Mb</th>
        </tr>
    </thead>
        {% for h in hypervisors%}<tbody owner="{{h}}">
        {% set total = hypervisors[h]['domains'].__len__() %}{% set ns = namespace(start=1) %}
            {% for d in hypervisors[h]['domains'] %}
                {% set domain = hypervisors[h]['domains'][d] %}
                <tr class="w3-hover-sand domain">
                    {% if ns.start is eq 1 %}
                        <td rowspan="{{total}}" class="w3-light-gray w3-bordered w3-center w3-border-top w3-border-blue w3-rightbar hypervisor"
                        width="10em" style="vertical-align: middle;" id="hyp-{{domain.hypervisor}}">
                            <span style="writing-mode: vertical-lr; transform: rotate(180deg); font-weight: bold;" >{{domain.hypervisor}}</span>
                        </td>
                    {% endif %}
                    <td width="20pt"><img src="/static/{{domain.state}}.svg" height="20pt" class="w3-hover-grayscale"></td>
                    <td domain='{{domain.hypervisor}}/{{d}}'>{{d}}</td>
                    {% if domain.state == "running" and domain.ver is ge 2011001 %}
                        {% set net = domain['ipaddrs'] %}
                        <td style="margin:0px; padding:'0px';">{% include 'network.jinja2' with context %}</td>
                    {% else %}
                        <td style="margin:0px; padding:'0px';">No network info available</td>
                    {% endif %}
                    <td class="state">{{domain.state}}</td>
                    <td class="cpus">{{domain.cpus}}</td>
                    <td class="mem">{{domain.mem / 1024}}</td>
                </tr>{% set ns.start = 2 %}
            {% endfor %}
        </tbody>{% endfor %}
</table>